
{release, {emqttd, "2.0.5"}, [
  sasl,
  asn1,
  syntax_tools,
  ssl,
  crypto,
  xmerl,
  os_mon,
  inets,
  goldrush,
  compiler,
  runtime_tools,
  {observer, load},
  %%{wx, load},
  pbkdf2,
  lager,
  gen_logger,
  gproc,
  esockd,
  mochiweb,
  {mnesia, load},
  emqttd,
  {emq_sn, load},
  {emq_coap, load},
  {emq_recon, load},
  {emq_stomp, load},
  {emq_reloader, load},
  {emq_dashboard, load},
  {emq_mod_rewrite, load},
  {emq_mod_presence, load},
  {emq_mod_retainer, load},
  {emq_mod_subscription, load},
  {emq_auth_clientid, load},
  {emq_auth_username, load},
  {emq_auth_ldap, load},
  {emq_auth_http, load},
  {emq_auth_mongo, load},
  {emq_auth_mysql, load},
  {emq_auth_pgsql, load},
  {emq_auth_redis, load},
  {emq_plugin_template, load}
]}.

{include_src, false}.

{extended_start_script, false}.

{generate_start_script, false}.

{sys_config, false}.

{vm_args, false}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "etc/"},
    {mkdir, "log/"},
    {mkdir, "data/"},
    {mkdir, "data/mnesia"},
    {mkdir, "data/configs"},
    {template, "bin/emqenv", "bin/emqenv"},
    {template, "bin/emqttd", "bin/emqttd"},
    {template, "bin/emqttd_ctl", "bin/emqttd_ctl"},
    {template, "bin/emqttd.cmd", "bin/emqttd.cmd"},
    {template, "bin/emqttd_ctl.cmd", "bin/emqttd_ctl.cmd"},
    {copy, "rel/conf/plugins", "etc/"},
    {copy, "deps/emqttd/etc/certs", "etc/"},
    {copy, "rel/conf/emq.conf", "etc/emq.conf"},
    {copy, "rel/conf/acl.conf", "etc/acl.conf"},
    {copy, "data/loaded_plugins", "data/loaded_plugins"},
    {copy, "bin/cuttlefish", "bin/cuttlefish"},
    {copy, "bin/nodetool", "bin/nodetool"},
    {copy, "rel/schema", "releases/\{\{rel_vsn\}\}/"},
    {copy, "bin/install_upgrade_escript", "bin/install_upgrade_escript"}
]}.

