
{release, {emqttd, "2.0"}, [
  sasl,
  os_mon,
  asn1,
  syntax_tools,
  ssl,
  crypto,
  xmerl,
  os_mon,
  inets,
  goldrush,
  compiler,
  runtime_tools,
  {observer, load},
  %%{wx, load},
  lager,
  gen_logger,
  gproc,
  esockd,
  mochiweb,
  {mnesia, load},
  emqttd,
  {emqttd_sn, load},
  %%{emqttd_coap, load},
  {emqttd_recon, load},
  {emqttd_stomp, load},
  {emqttd_reloader, load},
  {emqttd_dashboard, load},
  {emqttd_auth_ldap, load},
  {emqttd_auth_http, load},
  {emqttd_auth_mongo, load},
  {emqttd_auth_mysql, load},
  {emqttd_auth_pgsql, load},
  {emqttd_auth_redis, load},
  {emqttd_plugin_template, load}
]}.

{include_src, false}.

{extended_start_script, true}.

{sys_config, "rel/sys.config"}.

{vm_args, "rel/vm.args"}.

{overlay_vars, "./rel/vars.config"}.

{overlay, [
    {mkdir, "etc/"},
    {mkdir, "etc/ssl/"},
    {mkdir, "data/"},
    {mkdir, "data/mnesia"},
    {mkdir, "log/"},
    {copy, "etc/plugins", "etc/"},
    {copy, "etc/modules", "etc/"},
    {copy, "etc/ssl/ssl.crt", "etc/ssl/ssl.crt"},
    {copy, "etc/ssl/ssl.key", "etc/ssl/ssl.key"},
    {copy, "etc/emqttd.conf", "etc/emqttd.conf"},
    {copy, "data/loaded_plugins", "data/loaded_plugins"},

    {template, "rel/vm.args", "etc/vm.args"},
    {template, "bin/emqttd", "bin/emqttd"},
    {template, "bin/emqttd_ctl", "bin/emqttd_ctl"},
    {copy, "bin/nodetool", "bin/nodetool"},
    {copy, "bin/nodetool", "erts-\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "bin/install_upgrade_escript", "bin/install_upgrade_escript"}
]}.

